/* commons */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

/******** header - view section ********/
header {
  display: flex;
  height: 6vh;
  background-color: black;
  justify-content: flex-end;
  padding: 10px;
}

header .header-item {
  display: flex;
  align-items: center;
  background: linear-gradient(#3d3d3d, #1f1f1f);
  border-radius: 5px;
  padding: 6px 10px;
  margin-right: 5px;
}

header .header-item .material-icons {
  font-size: 18px;
  margin-right: 5px;
}

header span {
  color: whitesmoke;
}

#view {
  display: flex;
  align-items: center;
}

/******** main - cams section ********/
main {
  display: flex;
  background-color: black;
}

main .main-centre {
  display: flex;
  width: 90%;
  height: 86vh;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 5px 5px 20px;
}

main .main-centre .main-item {
  display: flex;
  position: relative;
  width: calc(100% / 5 - 8px);
  height: calc(100% / 5 - 8px);
  justify-content: center;
  background-color: whitesmoke;
  margin: 4px;
  border: 2px solid whitesmoke;
}

main .main-centre .main-item:hover {
  border: 2px solid rgb(255, 217, 0);
}

main .main-centre .main-item span.microphone {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: whitesmoke;
  font-size: 14px;
  padding: 4px 6px;
}

main .main-centre .main-item span.microphone i {
  font-size: 14px;
  color: red;
}

main .main-centre .main-item:hover span.microphone i {
  display: none;
}

main .main-aside {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5%;
}

main .main-aside .aside-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: whitesmoke;
}

main .main-aside .aside-container i {
  font-size: 50px;
  color: #3d3d3d;
}

main .main-aside .aside-container i:hover{
  color: rgb(0, 238, 255);
}

/******** footer - controls section ********/
footer {
  display: flex;
  height: 8vh;
  justify-content: space-between;
  background-color: #3d3d3d;
}

footer .footer-container {
  display: flex;
  align-items: center;
}

footer .footer-container div {
display: flex;
flex-direction: column;
align-items: center;
color: whitesmoke;
}

footer .footer-container .fa-chevron-up {
  margin-right: 5px;
}

footer .footer-container .footer-items {
  padding: 10px 15px;
}

footer .footer-items i,
footer .footer-items .material-icons {
  font-size: 22px;
  margin-bottom: 5px;
}

#share:hover {
  color: rgb(1, 160, 1);
}

#share .material-icons {
  font-size: 24px;
}

#end-meeting {
  color: red;
  padding: 10px;
  margin-right: 10px;
}

#end-meeting:hover {
  background-color: #505050;
}